extends ../template

block variables
  - var title = 'Blog'

block content

  h1 Blog
  ul
    li
      h2 Articolo1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptates!
    li
      h2 Articolo2
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptates!
    li
      h2 Articolo3
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptates!
    li
      h2 Articolo4
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptates!
    li
      h2 Articolo5
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptates!
